# Usage:
# bash Runfile
# 
# This script builds the jupyter-server container
# with the specified port and directories.
#
# After running this script, open the provided url
# in your browser to authenticate.


# remove if container already exists
podman container stop jupyter-server     > /dev/null
podman container rm jupyter-server     > /dev/null


# create new jupyter-server container
podman create --name jupyter-server -p 8888:8888 -v /home/chl/Documents/Projects:/home/newuser/app:Z --mount type=volume,source=jupyter,target=/root/.local/share/jupyter/runtime chl0/dev jupyter notebook --ip 0.0.0.0 --allow-root
